/*  General */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.content {
    height: 100vh;
    position: relative;
    /*  Position relative and setting the height allows me to move the grid over the header 
        using position absolute */
}

/*  Header */

header {
    background-color: #212121;
    height: 60%;
    padding: 3em;
}

.main-title {
    margin: 0 auto;
    color: #ffffff;
    font-family: 'Josefin Sans', sans serif;
    font-size: 2.3em;
    line-height: 1.2;
    max-width: 85%;
    text-align: center;
}

/*  Grid */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-auto-rows: 325px;
    grid-auto-flow: dense;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tall {
    grid-row: span 2;
}

@media (min-width: 530px) {
    .main-title{
        font-size: 3rem;
    }
}

@media (min-width: 750px) {
    .main-title {
        font-size: 4rem;
        max-width: 600px;
    }
    /* It changes the size of the large img */

    .large {
        grid-column: span 2;
        grid-row: span 2;
    }
}

