/*  General */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/*  Grid */

.grid {
    max-width: 1000px;
    width: 80%;
    margin: 6.25rem auto;
    /* Margin top moves the grid over the header background*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-auto-rows: 420px;
    grid-auto-flow: dense;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tall {
    grid-row: span 2;
}


@media (min-width: 750px) {
    /* It changes the size of the large img */
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
        grid-auto-rows: 325px;
    }


    .large {
        grid-column: span 2;
        grid-row: span 2;
    }
}

