/*  004 Rewrite with SASS

    Tried to work with a copy of the CSS and it's
    very difficult to read without SASS.
    Also, reviewing the code is a good way to
    understand how the page works. 

    GOAL:   Copy the layout from 003 with SASS

*/

/*  VARIABLES   */
$black: #0A0F0D;
$white: #F7F7F7;
$yellow: #FFD400;
$nav__title--font-size: 1.5rem;

/*  GENERAL     */
*, 
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

